<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Template popup</title>	
	<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="7 days" />
	<meta name="author" content="" />
	<meta name="copyright" content="" />
	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../css/screen.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/print.css" media="print" />		
</head>
<body>
<hr />
<h1>Login</h1>
<hr />
<br />
  	<div class="popupType popupType-1" style="position:static">
    	<div class="rndPopup">
            <div class="uiCorner initCorner-1">&nbsp;</div>
            <div class="uiCorner initCorner-2">&nbsp;</div>
            <div class="centerTop">&nbsp;</div>
            <div class="uiCorner initCorner-3">&nbsp;</div>
            <div class="uiCorner initCorner-4">&nbsp;</div>
            <div class="centerBottom">&nbsp;</div>
            <div class="uiCorner initCorner-5">&nbsp;</div>
            <div class="uiCorner initCorner-6">&nbsp;</div>
            <div class="popupwrap">
            	<a href="#" title="Close" class="close">x</a>
            	<h3>Login</h3>
            	<div class="contPopup"></div><!--contPopup-->
            </div><!--popupwrap-->
    	</div><!--rndPopup-->
  	</div><!--popupType-1-->
<br /><br />   

</body>
</html>