
.bangdieukhien_module
{
}
.bangdieukhien_module .box_header
{
    margin-bottom: 15px;
    line-height: 30px;
    border-bottom: 1px solid #476A03;
}
#bang_dang_taisan .input_title
{
    width: 17%;
    padding-right: 3%;
    float: left;
    text-align: right;
    font-weight: bold;
}
#bang_dang_taisan .input_title .required
{
    color:#FE3C3A;
    padding: 0% 7px;
}
#bang_dang_taisan .input_content
{
    width: 70%;
    float: left;
}
#bang_dang_taisan .extra
{
    float: left;
    font-weight: bold;
    width: 8%;
    padding-left: 2%;
}
#bang_dang_taisan input[type=text]
{
    width: 100%;
}

#bang_dang_taisan .form_row
{
    margin: 1% 0%;
}
#bang_dang_taisan label
{
    cursor: pointer;
}
#bang_dang_taisan .input_content.chonloaitin label
{
    margin-right: 9%;
    padding-left: 2%;
}
#bang_dang_taisan .input_content.chonloaidiaoc .tcleft
{
    width: 50%;
}
#bang_dang_taisan .input_content.chonloaidiaoc .tcleft .customize
{
    margin-right: 2%;
}
#bang_dang_taisan .input_content.chonloaidiaoc .tcright .customize
{
    margin-left: 2%;
}
#bang_dang_taisan .input_content.chonloaidiaoc .tcright
{
    width: 50%;
}
#bang_dang_taisan select
{
    width: 100%;
}
#bang_dang_taisan .xacdinhgia .ctr
{
    float: left;    
    margin-right: 1%;
}
#bang_dang_taisan .xacdinhgia .gia
{
width: 30%;
}
#bang_dang_taisan .xacdinhgia .donvigia
{
width: 20%;
}
#bang_dang_taisan .xacdinhgia .tongdientich
{
width: 30%;
}
