html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%; -- Keeping the default behavior on font aesthetic*/
    /*font: inherit; -- Keeping the default behavior on font aesthetic*/
    /*vertical-align: baseline;*/
}
h2
{
    margin-bottom: 10px;
    color: #439CDE;
}
ul { list-style: none; }
/*body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }*/

table { border-collapse: collapse; border-spacing: 0; }

:focus { outline: none; }

/* Clearfix
-------------------------------------------------------------*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/* Generic Styles
-------------------------------------------------------------*/
.clear, .divider {clear: both;}

.no-float{float: none !important;}
.full-width{width: 100% !important;}
.no-display {display: none !important;}

.nowrap,.nobr {white-space: nowrap !important;}

.no-border {
    border: 0 !important;
}

.no-padding {padding: 0 !important}
.no-margin     {margin: 0 !important;}

/*Alignment---*/
.v-top         {vertical-align: top;}
.v-middle    {vertical-align: middle;}
.v-bottom     {vertical-align: bottom;}

.a-left        {text-align: left;}
.a-center    {text-align: center;}
.a-right        {text-align: right;}

.left        {float: left;}
.right    {float: right;}

.auto-width {width: auto !important;}
body
{
    font-family: arial, tahoma, sans-serif;
    font-size: 12px;
    color: #333;
    background: #439CDE;
}
a
{
    color: #333;
}
.main
{
    width: 960px;
    margin: auto;
}
#TopLink
{
    height: 25px;
    line-height: 25px;
    background: #1760A5;
    text-align: right;
    color: white;
}
#TopLink a
{
    color: white;
    text-decoration: none;
}
#TopBanner
{

}
#MainMenu .main
{
    width: 960px;
    min-height: 62px;
    background: url('images/menubg.png') no-repeat ;
}
#MainMenu .main ul
{
    float: left;
    padding-left: 19px;
}
#MainMenu .main ul li
{
    float: left;
    line-height: 62px;
    height: 62px;
    margin-right: 11px;
    color: #fff;
}
#MainMenu .main ul li a
{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#ContentWrapp
{
    background: url(images/bodycontentbg.jpg) repeat-x ;
    min-height: 190px;
}
#Search
{
    float: right;
    background: url(images/searchbg.png) no-repeat;
    width: 144px;
    height: 24px;
    margin-top: 19px;
    margin-right: 18px;
}
#Search .textArea
{
width: 100px;
border: none;
background: none;
margin-left: 10px;
height: 20px;
line-height: 20px;
color: #A8ABCA;
}
#Content
{
    margin-top: 15px;
}
#Search label
{
    padding-right: 25px;
}
#mainSearch
{
    display: none;
}
#ContentTop
{
    background: url(images/contentT.png) no-repeat;
    height: 10px;
}
#ContentBody
{
    padding: 0px 10px 10px 10px;
    background: #EBF2F8;
}
#ContentBodyInnerT
{
height: 10px;
line-height: 10px;
background: url(images/contentInnerT.png) no-repeat;
}
#ContentBodyInnerB
{
    background: #fff;
    padding: 7px;
}
#Copyright .main .customize
{
    padding-left: 10px;
    padding-top: 15px;
}
#Copyright .main
{
    margin-top: 20px;
    background: url(images/copyrightbg.png) no-repeat;
    height: 106px;
    font-size: 13px;
    
}
#TagsCloud
{
    margin-top: 20px;
}
#TagsCloud ul li 
{
    float: left;
    margin-right: 10px;
    color: #fff;
}
#TagsCloud ul li a
{
    color: #fff;
    text-decoration: none;
}
.modTitleBar
{
    height: 30px;
    line-height: 30px;
    padding-left: 3px;
    background: url(images/modtit_left.png) no-repeat;
}
.modTitleBar .modTitleBarInner
{
    padding-right: 3px;
       background: url(images/modtit_r.png) no-repeat right;
     height: 30px;line-height: 30px;
}
.modTitleBar .modTitleBarInner .modTitleBarInner1
{
background: #F9CB20 url(images/whitearr.jpg) no-repeat 5px 7px;
height: 30px;
line-height: 32px;
text-transform: uppercase;
padding-left: 22px;
}
.modTitleBar .modTitleBarInner .modTitleBarInner1 a
{
    color: #000;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}
.BorderBox
{
    height: 6px;
    line-height: 6px;
    padding-left: 6px;
    background: url(images/whiteborderTL.png) no-repeat;
}
.BorderBox .BorderBoxInner
{
    padding-right: 6px;
       background: url(images/whiteborderTR.png) no-repeat right;
    
}
.BorderBox .BorderBoxInner .BorderBoxInner1
{
background: #fff;
text-transform: uppercase;
}
.BorderBox.BoxWhiteBot
{
     background: url(images/whiteborderBL.png) no-repeat;
}
.BorderBox.BoxWhiteBot .BorderBoxInner
{
     background: url(images/whiteborderBR.png) no-repeat right;
}
#ContentLeft
{
    width: 648px;
    margin-right: 10px;
}
#ContentSBar
{
     width: 282px;
   
}

#IntroArticle
{
    line-height: 17px;
}
#IntroArticle p
{
    margin-bottom: 10px;
}
#ContentSBar .BoxWhiteBot
{
    margin-bottom: 7px;
}
.ContentSBarBody
{
    background: #fff;
}
.ContentSBarBody .customize
{  padding: 5px 11px;}
.ContentSBarBody .ListModule li
{
    padding: 10px 0px;
   
    border-bottom: 1px dotted #ddd;
}
.ContentSBarBody .ListModule li.First
{
    border-top: none;
}
.ContentSBarBody .ListModule li.Last
{
        border-bottom: none;
}
.ContentSBarBody .TextList li
{
    line-height: 15px;
    padding-left: 25px;
   
}
.ContentSBarBody .TextList li a
{
     color: #000;
    text-decoration: none;
}
.ContentSBarBody .TextList li a:hover
{
    color:#069;
}
#TwoColProductL,
#TwoColProductR
{
    float: left;
width: 313px;
}
#TwoColProductL
{
margin-right: 8px;
}
.ProItem 
{
    border: 1px solid #E5E5E5;
    margin-bottom: 7px;
    width: 311px;
    float: left;
    margin-right: 7px;
    min-height: 206px;
}
.ProItem.NoMarginR
{
    margin-right: 0px;
}
.ProItem .ProItemTitle 
{
    height: 25px;
    line-height: 25px;
    background: #F6F6F6;
}
.ProItem .ProItemTitle  a
{
    padding-left: 10px;
    color: #0065CD;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}
.ProItem .ProItemBody
{
    padding: 10px;
}
.ProItem .ProItemBody .ImageInfo
{
    float: left;
    width: 161px;
}
.ProItem .ProItemBody .imageContain
{
    text-align: center;
    margin-bottom: 10px;
}
.ProItem .ProItemBody .imageContain img
{
    border: none;
    max-width: 135px;
}
.ProItem .ProItemBody .price b
{
    color: #CC0001;
}
.ProItem .ProItemBody  .Intro
{
    margin-bottom: 10px;
}
.ProItem .ProItemBody .FeatureInfo
{
    float: left;
    width: 130px;
}
.ProItem .ProItemBody .FeatureInfo li
{
background: url(images/grayarr.jpg) no-repeat 0px 5px;
padding-left: 8px;
line-height: 15px;
margin-bottom: 4px;
}
#ContentLeft .modTitleBar
{
    margin-bottom: 7px;
}
.ListModule.ImageList .ImgIntro
{
    margin-top: 10px;
}
.ListModule.ImageList .ImgIntro img
{
    max-width: 133px;
    float: left;
    margin-right: 5px;
}
.ListModule.ImageList .readmore
{
    text-align: right;
}
.ListModule.ImageList .readmore a
{
    color: red;
    text-decoration: none;
}
#MainMenu .BorderBox
{
    margin-top: 17px;
}
.BorderBox.Menuhover
{
    background: url(images/menuhoverL.png) no-repeat;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}
.BorderBox.Menuhover .BorderBoxInner
{
    background-image : url(images/menuhoverR.png) ;
    padding-right: 10px;
}
.BorderBox.Menuhover .BorderBoxInner1
{
    background: url(images/menuhoverCtn.png) repeat-x;

}
.BorderBox.Menuhover a
{
    color: #000 !important;
}
.BorderBox.Menuhover.Menunormal a
{
    color: #fff !important;
}
.BorderBox.Menuhover.Menunormal *,
.BorderBox.Menuhover.Menunormal 
{
    background: none;
}
.paging a
{
    margin-right: 10px;
}
.paging a.active
{
    font-weight: bold;
    color: #069;
}
#single-product-div .product-full-text
{
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
    padding: 15px 0px;
}
.older-items
{
    padding-top: 10px;
}
.older-items li 
{
    list-style: circle;
    margin-left: 20px;
}
.older-items li a
{
    text-decoration: none;
}
.older-items li a:hover
{
      text-decoration: underline;
}
#single-product-div .imageContain img
{
    max-width: 100%;
}
.postlistitem
{
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.postlistitem .post-title a
{
    text-decoration: none;
    font-weight: bold;
}