
@import url(../../../css/system.css);


/* Search
----------------------------------------------------------------------------------------------------*/

.searchbox {
	height: 26px;
	background-color: #FFF;
}

.searchbox input { height: 26px; }

.searchbox .results {
	top: 33px;
	right: -8px;
	border-radius: 0;
}