body
{
    font-family: arial, helvetica, clean, sans-serif;
    background: #E0E0E0;
    font-size: 12px;
    line-height: 18px;
}
.main
{
    width: 980px;
    clear: both;
    margin: auto;
}
#wrapper
{
    width: 100%;
    height: 100%;
}
#header
{
    background: #EDA09A;
    padding-top: 10px;
}
#header #logo
{
    font-size: 1.3em;
    padding: 10px 0px 10px 10px;
}
#header .main
{
    color: #752D27;
    background: #FA6054;
}
#header #main_menu ul
{
    color:#fff;
    font-size: 10px;
    background: url(../images/menu_bg.jpg) repeat-x bottom;
    text-transform: uppercase;

}
#header  #main_menu ul li
{
  background: url(../images/menu_bg.jpg) repeat-x bottom;
}
#header  #main_menu ul li a
{
    background: none;
    border-left:1px solid #D51A1A;
    color: #fff;
}
#header  #main_menu ul li a:hover
{
background: url(../images/menu_bg_hover.jpg) repeat-x bottom;
}

/* cotainer */
#container
{
    margin-top: 3px;
}
#container .main
{
    background: #fff;

}
#container .main #content
{
    padding: 10px;
}